<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magentodevtool_Launcher>
            <version>1.0.4</version>
        </Magentodevtool_Launcher>
    </modules>
    <frontend>
        <routers>
            <magentodevtool_launcher>
                <use>standard</use>
                <args>
                    <module>Magentodevtool_Launcher</module>
                    <frontName>magentodevtool_launcher</frontName>
                </args>
            </magentodevtool_launcher>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magentodevtool_Launcher after="Mage_Adminhtml">Magentodevtool_Launcher</Magentodevtool_Launcher>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <magentodevtool_launcher>
                <class>Magentodevtool_Launcher_Block</class>
            </magentodevtool_launcher>
        </blocks>
        <models>
            <magentodevtool_launcher>
                <class>Magentodevtool_Launcher_Model</class>
            </magentodevtool_launcher>
        </models>
        <helpers>
            <magentodevtool_launcher>
                <class>Magentodevtool_Launcher_Helper</class>
            </magentodevtool_launcher>
        </helpers>

        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <magentodevtool_launchermore_blocks>
                        <type>singleton</type>
                        <class>magentodevtool_launcher/observer</class>
                        <method>addNav</method>
                    </magentodevtool_launchermore_blocks>

                    <magentodevtool_launcher_add_config_nav>
                        <type>singleton</type>
                        <class>magentodevtool_launcher/observer</class>
                        <method>addConfigNav</method>
                    </magentodevtool_launcher_add_config_nav>

                    <magentodevtool_launcher_hooks>
                        <type>singleton</type>
                        <class>magentodevtool_launcher/observer</class>
                        <method>addHookJavascript</method>
                    </magentodevtool_launcher_hooks>


                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>

    <default>
        <magentodevtool_launcher>
            <options>
                <shortcut_code_first>17</shortcut_code_first>
                <shortcut_code_second>77</shortcut_code_second>
            </options>
        </magentodevtool_launcher>
    </default>
</config>
