/*#alanstormdotcom_launcher .buttons-set { margin-top:10px; }*/
#alanstormdotcom_launcher
{
    font-size:24px;
}
#alanstormdotcom_launcher .magento_content { height:auto !important; overflow:hidden; }
#alanstormdotcom_launcher .magento_message { padding:0; }

#alanstormdotcom_launcher .magento_buttons{ display:none;}

#alanstormdotcom_launcher_input
{
    font-size:14px;
    width:560px;
    padding:0;
    border:0;
    margin:5px 0 5px 10px;
    text-indent:8px;
}

#alanstormdotcom_launcher_results p
{
    font-size:14px;
    line-height:16px;
    margin:0;
    padding:8px 15px 8px 15px;
    backgorund:url(images/nav2_link_bg.gif) repeat-x 0 100%;
    
}

#alanstormdotcom_launcher_results p a
{
    text-decoration:none;
    color:#000;
}

#alanstormdotcom_launcher_results p.highlight
{
    background-color:#ddf;
}

/*
#alanstormdotcom_launcher .textarea { width:930px !important; }
#alanstormdotcom_launcher .magento_buttons { padding-left:7px; padding-right:7px; }
*/